---
- name: Check if Python 3 is already installed
  ansible.builtin.raw: test -e /usr/bin/python3
  register: python_check
  failed_when: python_check.rc > 1
  changed_when: false

- name: Install minimal Python 3 using 'raw' module if not present (Bootstrapping)
  when: python_check.rc != 0
  ansible.builtin.raw: apt update && apt install -y python3
  register: raw_output
  changed_when: raw_output.rc == 0
  tags:
    - preflight
    - python

- name: Ensure 'l' alias for 'ls -la' is configured
  ansible.builtin.copy:
    dest: /etc/profile.d/l_alias.sh
    content: |
      alias l='ls -la'
    owner: root
    group: root
    mode: "0755"
