---
- name: Remove conflicting helm-diff plugin directory
  ansible.builtin.file:
    path: /root/.local/share/helm/plugins/helm-diff
    state: absent
  become: true

# Add helm repos
- name: Ensure all necessary Helm repositories are present
  kubernetes.core.helm_repository:
    name: "{{ item.name }}"
    repo_url: "{{ item.url }}"
    state: present
  loop: "{{ k3s_role_helm_repos }}"
