# ------------------------------------------------------------------------------
# Namespace is usually created outside Helm, but you can note it here
# ------------------------------------------------------------------------------
namespace: "{{ external_dns_namespace}}"

# ------------------------------------------------------------------------------
# Image configuration
# ------------------------------------------------------------------------------
image:
  repository: registry.k8s.io/external-dns/external-dns
  tag: "{{ external_dns_version }}"
  pullPolicy: Always

# ------------------------------------------------------------------------------
# Provider (Helm-native)
# ------------------------------------------------------------------------------
logLevel: "{{ external_dns_log_level }}"

provider:
  name: rfc2136

policy: sync

registry: txt
txtOwnerId: dynamic-zones-dns
txtPrefix: dynamic-zones-dns-

# ------------------------------------------------------------------------------
# CLI arguments corresponding to your deployment spec
# ------------------------------------------------------------------------------
extraArgs:
  - --source=ingress
  - --domain-filter={{ rfc2136_zone }}
  - --rfc2136-host={{ rfc_2136_dns_host }}
  - --rfc2136-port={{ rfc_2136_dns_port }}
  - --rfc2136-zone={{ rfc2136_zone }}
  - --rfc2136-tsig-secret={{ rfc2136_tsig_secret_value }}
  - --rfc2136-tsig-secret-alg={{ rfc2136_dns_tsig_secret_alg }}
  - --rfc2136-tsig-keyname={{ rfc2136_tsig_secret_keyname }}
  - --rfc2136-tsig-axfr
